<mat-toolbar color="accent">
<button mat-icon-button (click)="drawer.toggle()">
  <mat-icon>menu</mat-icon>
</button>

  <span class="spacer"></span>

  <button  mat-button >Admin</button>


  <button mat-button *ngIf="profile">
    {{ keycloakService.getUsername() }}
  </button>
  <button   mat-raised-button color="primary" (click)="handleLogout()">logout</button>

</mat-toolbar>

<mat-drawer-container>

  <mat-drawer #drawer mode="side" position="start" opened="true">
    <mat-nav-list>
      <mat-list-item>
        <button mat-button routerLink="/admin/dashboard">
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </button>
      </mat-list-item>
      <mat-list-item>
        <button  mat-button routerLink="/admin/customer">
          <mat-icon>perm_identity</mat-icon>
          Customer
        </button>
      </mat-list-item>

      <mat-list-item>
        <button  mat-button routerLink="/admin/product">
          <mat-icon>shop</mat-icon>
          Product
        </button>
      </mat-list-item>

      <mat-list-item>
        <button  mat-button routerLink="/admin/product">
          <mat-icon>shopping_basket</mat-icon>
          Assortiment
        </button>
      </mat-list-item>

      <mat-list-item>
        <button  mat-button routerLink="/admin/appro">

          <mat-icon>add_shopping_cart</mat-icon>
          Approvisionement
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/admin/payment">
          <mat-icon>payment</mat-icon>
          Payments
        </button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button routerLink="/admin/fournisseur">
          <mat-icon>Fournisseur</mat-icon>
          Fournisseur
        </button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button routerLink="/admin/payment">
          <mat-icon>account_balance</mat-icon>
          Facturation
        </button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button routerLink="/admin/site">
          <mat-icon>store</mat-icon>
          Site
        </button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button routerLink="/admin/orders">
          <mat-icon>add_shopping_cart</mat-icon>
          Orders
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <div style="min-height: 600px">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>

</mat-drawer-container>
